
/*RESET*/
   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* 
   GLOBAL STYLES
 */
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d1117;
  color: #f0f6fc;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}




/* 
   LAYOUT
 */

.container {
  width: 90%;
  max-width: 700px;

  background-color: #161b22;

  padding: 2rem;

  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}


/* ==========================
   COMPONENTS
========================== */



/* ==========================
   RESPONSIVE
========================== */

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: .5rem;
}

header p {
    color: #8b949e;
    font-size: 1rem;
}

.search-section {
    display: flex;
    gap: 1rem;
}

#username {
    flex: 1;

    padding: .9rem 1rem;

    border: none;

    border-radius: 8px;

    background: #21262d;

    color: white;

    font-size: 1rem;

    outline: none;
}
#search-btn {

    padding: .9rem 1.4rem;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    background:#238636;

    color:white;

    font-weight:bold;

    transition:.25s;
}
#search-btn:hover{

    background:#2ea043;

}

.profile-card{

    margin-top:2rem;

    text-align:center;

}

.profile-card img{

    width:150px;

    border-radius:50%;

    margin-bottom:1rem;

}

.profile-card h2{

    margin-bottom:.3rem;

}

.profile-card>p{

    margin-bottom:.6rem;

}

.stats{

    margin-top:1rem;

    display:flex;

    justify-content:space-around;

}
.loading{

    margin-top:2rem;

    text-align:center;

    color:#8b949e;

    font-size:1.1rem;

}